{% extends "main/base_template.html" %}

{% block title %}Forgot Password{% endblock %}

{% block links %}
{% endblock %}

{% block body %}

<!-- Start Section Content Main -->
<div class="section-content-main">
    <div class="container">
        <div class="row">
            <!-- Start Content -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sign__title heading-4th--dark-hi">
                            Forgot Password
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form action="" class="sign__form" method="post">
                        {% csrf_token %}

                        <div class="col-md-12">
                            <div class="sign__group">
                                <h2>Enter your email</h2>
                            </div>
                        </div>

                        <div class="col-md-12 my-3">

                            <div class="sign__group">
                                <input name="email" id="email" type="text" class="sign__input heading-7th--dark-md"
                                       placeholder="Email*" required>
                                <label for="email" class="sign__label heading-9th--dark-md">Email*</label>
                            </div>
                            <p class="paragraph--1th-md mt-1">If your email exists in our database you will receive
                                a new password in your email in a few minutes</p>
                        </div>

                        <div class="col-md-12">
                            <div class="sign__wrap">
                                <button type="submit" class="sign__btn btn btn--primary">
                                    Request New Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</div>
<!-- End Section Content Main -->
{% endblock %}

{% block scripts %}
{% endblock %}