{% extends "main/layout.html" %}

{% block title %}Mind First - Payment Failed{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
  <!-- Start Section Content Main -->
  <div class="section-content-main">
    <div class="container">
      <div class="row">
        
        <!-- Start Content -->
        <div class="col-12">
          <!-- Start Search Results -->
          <div class="row">
            <div class="col-lg-12">
              <div class="page-404__result--title heading-1th--dark-hi">
                <h1>
                Payment unsuccessful
              </h1>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="page-404__result--title heading-7th--dark-hi">
                There was an error processing your payment. Click <a href="/sign-up" class="heading-7th--dark-hi-hover-underline">here</a>
                to go to the registration page.
              </div>
            </div>
          </div>  
          <!-- End Search Results -->
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <!-- End Section Content Main -->
{% endblock %}

{% block scripts %}
{% endblock %}