{% extends "main/layout.html" %}

{% block title %}Mind First - Empower The World One Mind At A Time{% endblock %}

<!-- loading static -->
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<style>
    .text--primary {
        color: #11BDA3;
    }

    .banner {
        padding: 20px;
        width: 100%;
        position: relative;
        margin-bottom: 30px;
    }

    .banner::after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: #592F75;
        border-width: 25px;
        margin-left: -25px;
        z-index: 5;
    }

    .banner span {
        width: 100%;
        position: relative;
    }

    .banner span::after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: #11BDA3;
        border-width: 13px;
        margin-left: -13px;
        margin-bottom: 12px;
        z-index: 10;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }

    .swiper-slide.swiper-slide-visible.swiper-slide-active {
        opacity: 1;
    }

    video {
        min-height: 50vh
    }

    .modal_video .container {
        width: 50vw;
        height: fit-content;
        margin: auto;
        display: table;
    }

    ul.list,
    ul.list li {
        list-style-type: disc !important;
    }

    @media (max-width: 576px) {
        .swiper-slide h2 {
            font-size: 30px;
        }

        video {
            min-height: auto;
        }

        .modal_video {
            padding: 70px 0;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .modal_video i {
            top: 5%;
        }

        .modal_video .container {
            width: 90vw;
        }
    }
</style>
{% endblock %}

{% block content %}

<section id="main_sect" class="my-5 container-fluid">
    <h1 class="heading-2th--dark wow move-up animate text-center">
        Unlock Your Brain For Success
    </h1>
    <h3 class="heading-6th--dark wow move-up animate text-center">
        Achieve Your Goals... Faster and Easier Than Ever Before
    </h3>
    <div class="d-flex justify-content-between flex-wrap my-md-4">
        <div class="col-lg-7">
            <video style="width: 100%;" poster="{% static 'main/assets/landing_image.jpg' %}" controls>
                <source src="{% static 'media/admin/intro.mp4' %}" type="video/mp4">

                <img src="{% static 'main/assets/landing_image.jpg' %}" alt="Portfolio">
            </video>
        </div>
        <div class="mt-3 mt-lg-0 col-lg-5">
            <p class="heading-7th--dark wow move-up animate text-dark text-center">
                6 Brain Experts Reveal The Most Powerful New Techniques To Let Go Of Limiting Beliefs, Fears or
                Self-Esteem Issues That Are Holding You Back From Achieving Your Financial Goals and Dream Life
            </p>
            <br>
            <p class="heading-7th--dark wow move-up animate text-dark text-center">
                Register for Your <span class="font-weight-bold text-purple">FREE</span> spot at Our Event
            </p>
            <h3 class="heading-6th--dark wow move-up animate text-center">Saturday, October 23rd, at 9:00am PT</h3>

            <form action="" class="mt-2">
                <div class="sign__group mb-3 wow move-up animate">
                    <input name="name" id="name" type="text" class="sign__input heading-7th--dark-md"
                        placeholder="Enter your first name" required>
                    <!-- <label for="email" class="sign__label heading-9th--dark-md">Email*</label> -->
                </div>
                <div class="sign__group mb-3 wow move-up animate">
                    <input name="email" id="email" type="text" class="sign__input heading-7th--dark-md"
                        placeholder="Enter your email" required>
                    <!-- <label for="email" class="sign__label heading-9th--dark-md">Email*</label> -->
                </div>
                <button type="submit" class="sign__btn btn btn--primary w-100 wow move-up animate">
                    <p class="heading-5th--dark text-light p-2">Sign Up Now!</p>

                </button>
            </form>

            <p class="heading-7th--dark wow move-up animate text-dark text-center">
                Earn More. Live More. Be More. Give More.
            </p>
        </div>
    </div>
</section>

<section id="with_p_b" class="">
    <div class="position-relative mt-3 py-5 container-fluid">
        <h3 class="heading-5th--dark wow move-up animate text-center">Imagine if You Could</h3>

        <div class="swiper-container wow move-up animate text-center py-md-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2 class="text--primary heading-3th--dark font-weight-bold">
                        Conquer Your
                        Fear Of
                        Failure
                    </h2>
                </div>
                <div class="swiper-slide">
                    <h2 class="text--primary heading-3th--dark font-weight-bold">
                        Start Earning
                        What You
                        Deserve</h2>
                </div>
                <div class="swiper-slide">
                    <h2 class="text--primary heading-3th--dark font-weight-bold">
                        Reach Your
                        Mental and
                        Emotional Fitness Goals</h2>
                </div>
            </div>
        </div>

        <h2 class="heading-5th--dark wow move-up animate text-center">By Innercising</h2>
        <br>

        <a href="#" onclick="openModal()" class="btn btn--primary col-12 col-md-7 col-lg-6 m-auto d-table">
            <p class="heading-6th--dark text-light p-2">Click Here To Start Innercising
                Today!</p>
        </a>

        <br>
        <p class="heading-6th--dark wow move-up animate text-dark text-center font-weight-light">
            <span class="font-weight-bold text-purple">What is Innercise™?</span> Innercise™ is a
            scientifically proven
            methodology to train & strengthen your mental & emotional skills.
        </p>

        <div id="particles-js--v1" class="particles--v1">
            <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349"
                height="703"></canvas>
        </div>
    </div>
    <br>

    <div class="banner wow move-up animate bg-purple">
        <span></span>
        <h1 class="heading-3th--dark text-center text-light w-100">Mind First<sub style="font-size: 12px;">TM</sub></h1>
        <p class="heading-5th--dark text-center text-light w-100 font-weight-light">Empower The World. One Mind at a
            Time™</p>
    </div>
</section>

<br>
<section id="innercising">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
        <div class="col-lg-6">
            <h3 class="heading-4th--dark wow move-up animate">Learn More About Innercising</h3>
            <br>
            <p class="heading-7th--dark wow move-up animate font-weight-light">Each week we aggregate and publish the
                latest scientific
                findings, mindset tips, and news so you can learn more about how you can continue to master your mindset
                to be the best version of you.</p>
            <br>
            <a href="#" class="btn btn--primary col-11 col-md-8">
                <p class="heading-7th--dark text-light p-2 wow move-up animate">CLICK HERE TO VIEW THE BLOG</p>
            </a>

            <br>
            <br>
            <div class="d-flex align-items-center flex-column">
                <p class="heading-7th--dark wow move-up animate font-weight-light text-center">Join In The Innercise®
                    Revolution</p>
                <h4 class="heading-3th--dark number__percent wow move-up animate text-center">763,421</h4>
                <p class="heading-7th--dark wow move-up animate font-weight-light text-center">Followers and Growing!
                </p>
            </div>
        </div>
        <div class="col-lg-6" style="min-height: 50vh;">
            <img alt="image" src="{% static 'main/assets/landing_image.jpg' %}" style="object-fit: cover"
                class="h-100 w-100">
        </div>
    </div>
</section>
<br>

<div class="modal_video">
    <div class="position-relative container" style="background-color: white; color: black;">
        <div class="d-flex align-items-center flex-column">
            <div class="col-md-9 m-auto">
                <br>
                <p class="heading-6th--dark font-weight-light text-center">A Better You. A Better
                    World
                </p>
                <h3 class="heading-5th--dark text-purple font-weight-bold text-center">
                    Sign up for the NeuroGym newsletter and you'll receive:
                </h3>
                <br>

                <ul class="list">
                    <li class="heading-6th--dark font-weight-light">Scientifically proven
                        ways you can achieve your biggest goals and dreams
                    </li>
                    <li class="heading-6th--dark font-weight-light">Invitations to free virtual
                        trainings with world famous mindset and success experts
                    </li>
                    <li class="heading-6th--dark font-weight-light">Tips and tools to help you get
                        rid
                        of your self-doubts, fears and the daily stuff that stresses you out
                    </li>
                </ul>

                <br>
                <form action="" class="mt-2">
                    <div class="sign__group mb-3">
                        <input name="name" id="name" type="text" class="sign__input heading-7th--dark-md"
                            placeholder="Enter your first name" required>
                        <!-- <label for="email" class="sign__label heading-9th--dark-md">Email*</label> -->
                    </div>
                    <div class="sign__group mb-3">
                        <input name="email" id="email" type="text" class="sign__input heading-7th--dark-md"
                            placeholder="Enter your email" required>
                        <!-- <label for="email" class="sign__label heading-9th--dark-md">Email*</label> -->
                    </div>
                    <button type="submit" class="sign__btn btn btn--primary col-md-6">Sign Up Now!

                    </button>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
    <i onclick="close_()" class="position-absolute material-icons">close</i>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/particle_copy.js' %} "></script>
<script>
    function openModal() {
        $('.modal_video').toggleClass('active')
        preventDefault()
    }
    const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        navigation: false,
        arrows: false,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        effect: "fade",
        fadeEffect: {
            crossFade: true
        },
    })

    function close_() {
        $('.modal_video').toggleClass('active')
    }
</script>
{% endblock %}