{% extends "main/layout.html" %}

{% block title %}{{ week.title }} {% endblock %}

{% block links %}
<style>
    .item-blog__picture img {
        max-height: 40vh !important;
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}

<!-- loading static -->
{% load static %}

<div class="section-banner-static">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="banner">
                    <h1 class="banner__title heading-3th--light">
                        {{ main_title }}
                    </h1>
                    <h2 class="banner__title heading-5th--light">
                        {{ sub_title }}
                    </h2>
                    <div class="banner__nav">
                        <a class=" heading-9th--light-hover-uppercase" href="{% url 'main:members_area' %}">
                            Return to members area
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-content-main">
    <div class="container">
        <div class="row">

            <!-- Start Content -->
            <div class="col-lg-12">

                <!-- Start List Item Content -->
                <div class="row">
                    <div class="col-lg-12 umb--40">

                        <div class="item-2-blog normal wow move-up animate">
                            <div class="item-2-blog__side">
                                <div class="item-2-blog__box">

                                    {% if is_video %}
                                        <a href="#" class="item-2-blog__picture">
                                            <img src="{% static 'main/assets/landing_image.jpg' %}" alt="item">
                                        </a>

                                        <div class="item-2-blog__wrap-icon">
                                            <a href="#" data-video="{% static '' %}media/{{ week.file }}"
                                               class="open_modal item-2-blog__icon modal__youtube">
                                                <i class="material-icons material-icons-outlined">play_circle_outline</i>
                                            </a>
                                        </div>
                                    {% else %}
                                        <a href="#" class="item-2-blog__picture">
                                            <img src="{% static '' %}media/{{ week.file }}" alt="item">
                                        </a>
                                    {% endif %}

                                </div>
                                <h3 class="item-2-blog__name heading-6th--dark-hi-hover">
                                    Description
                                </h3>
                                <p class="item-2-blog__paragraph paragraph-2th--dark-md-hyphens">
                                    {{ week.description }}
                                </p>
                                <br>
                                <h3 class="item-2-blog__name heading-6th--dark-hi-hover">
                                    What You'll Learn
                                </h3>
                                <div class="row">

                                    {% for i in w_learn %}
                                    <!-- Start Item Normal -->
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 umb--40">

                                        <div class="item-blog normal wow move-up animate">
                                            <div class="item-blog__side">


                                                <div class="item-blog__box">

                                                    <a class="item-blog__picture">
                                                        <img src="{% static '' %}media/{{ i.image }}" alt="item">
                                                    </a>

                                                </div>

                                                <p class="item-blog__paragraph paragraph-2th--dark-md-hyphens">
                                                    {{ i.text }}
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                <!-- End Item Normal -->

                            </div>

                            <br>
                            <a href="#" class="btn btn--secondary" onclick="openFolder(event)">Resources</a>
                            <div class="my-2 d-none" id="folder">
                                {% for i in folder %}
                                <p class="paragraph-1th--dark-md-hyphens">
                                    <a href="#" download="{% static '' %}media/{{ i.file }}"
                                        onclick="preventDefault()">{{ i.file_name }}</a>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End List Item Content -->

        </div>
        <!-- End Content -->


    </div>
</div>
</div>

<div class="modal_video">
    <div class="container w-100 h-100 position-relative p-2 d-flex p-sm-5">
        <video id="video_player" style="width: 100%;" poster="{% static 'main/assets/landing_image.jpg' %}" controls>
            <source src="" type="video/mp4">

            <img src="{% static 'main/assets/landing_image.jpg' %}" alt="Portfolio">
        </video>
        <i onclick="close_()" class="position-absolute material-icons">close</i>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function openFolder(e) {
        e.preventDefault()
        $("#folder").toggleClass('d-none')
    }

    $(".open_modal").click(function () {
        $('.modal_video').toggleClass('active')
        var src = $(this).attr('data-video')
        $('#video_player').prop('src', src)
        $('#video_player').load()
        $('#video_player').play()
    })

    function close_() {
        $('.modal_video').toggleClass('active')
        $('#video_player').prop('src', '')
        $('#video_player').load()
    }
</script>
{% endblock %}