
<!-- landing section -->
<div style="height: 100vh; width: 100%;" class="d-flex">
    <div class="mx-auto mt-5 my-md-auto text-center">
        <h1 class="heading-4th--light">It's Your Time Now!</h1>
        <h3 class="heading-10th--light">It's a beautiful experience when you realise change is happening</h3>
        <div class="d-flex w-75 mt-4 justify-content-between mx-auto flex-column flex-md-row">
            <a href="#" class="btn btn--primary">Get Started Now</a>
            <span class="mx-3"></span>
            <a href="#" class="btn btn-outline-light">How was your day</a>            
        </div>
    </div>
    <div class="video-bg__viewport">
        
        <img style="object-fit: cover; object-position: center;" src="{% static 'assets/landing_image.jpg' %}"
             class="w-100 h-100" alt="">
    </div>
    <div id="particles-js--v1" class="particles--v1">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="703"></canvas>
    </div>

    <div class="parallax-item__watch">
        <div class="parallax-item__watch--title heading-7th--light">
            Start Your Day
        </div>
        <a href="#" onclick="toggle()" class="parallax-item__watch--icon modal__youtube">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
<!-- end landing section -->

<!-- begin who we are -->
<div class="section-who-we-are" id="who_we_are">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <video style="width: inherit;" poster="//vjs.zencdn.net/v/oceans.png" autoplay controls preload="auto"
                       loop>
                    <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
                    <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">

                    Your browser does not support the HTML5 Video element.
                </video>
            </div>
            <div class="col-md-6">
                <h2 class="Dev-heading-main-template wow move-up animate"> Myths & Miss-Information</h2>
                <br/>
                <p class="who__paragraph paragraph-6th--dark-md" style="font-size: 13px;">
                    Most of us have a strong desire to make positive changes in our lives. Eat healthier, lose weight,
                    stop smoking, be a better parent,
                    a better partner, be more productive, start a new business. However, there is often a big gap to
                    bridge between what we want and what we do.
                    The attempts to make the changes we want often fail, the results are disappointing. We tell
                    ourselves that change is too hard;
                    we lack willpower or motivation. None of this is true; the problem is in the approach.
                    If you have tried to make changes in your life and they have come up short, please don't assume it's
                    your fault; it isn't.
                    Society would have us believe otherwise; of course, sadly, the world we live in is one of blame and
                    criticism.

                    <br><br>

                    For years, myths, misconceptions, and poor advice with no scientific grounding set us up to
                    fail—each
                    failure providing ammunition to our limiting beliefs. Getting past blaming ourselves
                    , past our limiting beliefs, is essential to our success.

                    <br><br>

                    Mind First provides you with a step-by-step process to get what you want, and it is much easier than
                    you think.
                    You will gain confidence as you move towards the change you wish to. Importantly,
                    you will learn to feel good about yourself as you recognize and celebrate the small wins you make
                    every day on the path of transformation.
                    Right now, this may seem a long way off, but this method works; thousands have followed the same
                    path to success, and you can too.
                </p>
            </div>
        </div>
    </div>
    <!-- end who we are -->

    <br><br>

    <!-- begin about -->
    <div id="About" class="section-some-service-v2" style="padding: 0;">
        <div class="container">

            <!-- Start Title -->
            <div class="row">
                <div class="col-12">
                    <div class="ut--c">
                        <h2 class="heading-4th--dark-hi wow move-up"
                            style="visibility: visible; animation-name: moveVertical;">Do What Works</h2>
                    </div>
                </div>
                <br><br>
                <br>
                <div class="col-12">
                    <div class="ut--c umb--56">
                        <h3 class="heading-5th--dark-hi wow move-up  animate"
                            style="visibility: visible; animation-name: moveVertical;">

                            Mind First - Help To Get The Life You Want
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Title -->

            <!-- Start List Service -->
            <div class="row">

                <!-- Start Service -->
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="service-v1 wow move-up  animate"
                         style="visibility: visible; animation-name: moveVertical;">

                        <h4 class="service-v1__name heading-6th--dark-hi">
                            How We <span class="font-weight-light text-dark">Think</span>
                        </h4>
                        <div class="service-v1__line"></div>

                        <p class="service-v1__paragraph paragraph-2th--dark-md">
                            To create the life you want you have to think differently. Mind First will show you how to
                            do just that, Using the latest breakthroughs in neuroscience we have developed a series of
                            exercises so you can train your brain for change
                        </p>

                    </div>
                </div>
                <!-- End Service -->

                <!-- Start Service -->
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="service-v1 wow move-up  animate"
                         style="visibility: visible; animation-name: moveVertical;">

                        <h4 class="service-v1__name heading-6th--dark-hi">
                            How We <span class="font-weight-light text-dark">Act</span>
                        </h4>
                        <div class="service-v1__line"></div>

                        <p class="service-v1__paragraph paragraph-2th--dark-md">
                            We are our behaviours, we are consistent with who we are. To achieve what we want, we have
                            to act differently. Mind First provides you with the tools and support to do just that a
                            tried and tested method that works
                        </p>

                    </div>
                </div>
                <!-- End Service -->

                <!-- Start Service -->
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="service-v1 wow move-up  animate"
                         style="visibility: visible; animation-name: moveVertical;">

                        <h4 class="service-v1__name heading-6th--dark-hi">
                            How We <span class="font-weight-light text-dark">Feel</span>
                        </h4>
                        <div class="service-v1__line"></div>

                        <p class="service-v1__paragraph paragraph-2th--dark-md">
                            One of the biggest challenges we face when trying to change is the environment we live in,
                            the physical environment, where we live and work, the people we interact with and our mental
                            environment. Mind First helps you design an environment for success
                        </p>

                    </div>
                </div>
                <!-- End Service -->
            </div>
            <!-- End List Service -->
        </div>
    </div>
    <!-- end about -->

    <br><br>

    <!-- begin grid -->
    <div class="container">
        <!-- Start Title -->
        <div class="row">
            <div class="col-12">
                <div class="ut--c umb--12">
                    <h3 class="heading-10th--dark-hi wow move-up animate">
                        SETUP
                    </h3>
                </div>
            </div>
            <div class="col-12">
                <div class="ut--c">
                    <h3 class="heading-6th--dark-hi wow move-up animate">
                        It's Your Time Now
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Title -->
    </div>


    <!-- Start Section Portfolio Full -->
    <div id="Work" class="section-portfolio-full">
        <div class="container-mxm">
            <div class="portfolio-full">

                <!-- Start Team -->
                <div class="portfolio-full__wrap-full wow move-up animate">

                    <div class="portfolio-full__side">
                        <a class="portfolio-full__video">
                            <video style="width: 100%;" poster="//vjs.zencdn.net/v/oceans.png" controls
                                   preload="auto" loop>
                                <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                                <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">

                                <img src="{% static 'assets/landing_image.jpg' %}" alt="Portfolio">
                            </video>

                        </a>
                    </div>

                    <div class="portfolio-full__side-info order-sm-first order-md-first order-lg-last">

                        <h5 class="portfolio-full__date-cate">
                            <a class="heading-9th--dark-hi-hover-uppercase">
                                Start Your Day Video
                            </a>
                        </h5>
                        <h4 class="portfolio-full__name">
                            <a class="heading-6th--dark-hi">
                                Make The Most From
                            </a>
                        </h4>

                        <div class="portfolio-full__line"></div>

                        <p class="portfolio-full__paragraph paragraph-2th--dark-md-hyphens">
                            How you start your day has a major impact on how the day turns out, watch your 'Start Your
                            Day' video to set you up for a great day
                        </p>

                        {% if False %}
                        <div class="d-flex">
                            <a href="#gallery" class="portfolio-full__btn btn btn--secondary">PLAY</a>
                            <span class="mx-3"></span>
                            <a href="#gallery" class="portfolio-full__btn btn btn--secondary">EDIT</a>
                        </div>
                        {% else %}
                        <a href="#gallery" class="portfolio-full__btn btn btn--secondary">GET STARTED</a>
                        {% endif %}

                    </div>

                </div>
                <!-- End Team -->

                <!-- Start Team -->
                <div class="portfolio-full__wrap wow move-up animate">

                    <div class="portfolio-full__side">
                        <a class="portfolio-full__picture">
                            <img style="height:300px" src="{% static 'assets/landing_image.jpg' %}" alt="Portfolio">
                        </a>
                    </div>

                    <div class="portfolio-full__side-info">


                        <h5 class="portfolio-full__date-cate">
                            <a href="#" class="heading-9th--dark-hi-hover-uppercase">
                                The Life You Want One Behaviour At A Time
                            </a>
                        </h5>
                        <h3 class="portfolio-full__name">
                            <a class="heading-5th--dark-hi">
                                Behavior Mapping
                            </a>
                        </h3>

                        <div class="portfolio-full__line"></div>

                        <p class="portfolio-full__paragraph paragraph-2th--dark-md-hyphens">
                            Click the button below to get started to identify and choose the behaviours that will start
                            you on your journey to get what you want
                        </p>

                        <a class="portfolio-full__btn btn btn--secondary">GET
                            STARTED</a>


                    </div>

                </div>
                <!-- End Team -->

                <!-- Start Team -->
                <div class="portfolio-full__wrap wow move-up animate">

                    <div class="portfolio-full__side">
                        <a class="portfolio-full__picture">
                            <img style="height:300px" src="{% static 'assets/landing_image.jpg' %}" alt="Portfolio">
                        </a>
                    </div>

                    <div class="portfolio-full__side-info order-sm-first order-md-first order-lg-last">

                        <h5 class="portfolio-full__date-cate">
                            <a class="heading-9th--dark-hi-hover-uppercase">
                                start being the person you want to be
                            </a>
                        </h5>
                        <h3 class="portfolio-full__name">
                            <a class="heading-5th--dark-hi-hover">
                                Habit Designer
                            </a>
                        </h3>

                        <div class="portfolio-full__line"></div>

                        <p class="portfolio-full__paragraph paragraph-2th--dark-md-hyphens">
                            Click the button below to learn about habit design, and easily turn your behaviours into
                            habits
                        </p>

                        <a class="portfolio-full__btn btn btn--secondary">GET STARTED</a>

                    </div>
                </div>
                <!-- End Team -->
            </div>
        </div>
    </div>
    <!-- End Section Section Portfolio Full -->
    <!-- end grid -->

    <!-- start flex stuff -->
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-5 p-0">
                <div class="item-blog wow move-up animate p-0">
                    <img src="{% static 'assets/landing_image.jpg' %}" alt="25anniversary" class="w-100"/>

                    <div class="p-3">
                        <h2 class="heading-5th--dark-hi">Your Aspiration</h2>
                        <p class="paragraph-2th--dark-md-hyphens">To be healthier</p>

                        <h2 class="heading-5th--dark-hi mt-3">Behavior</h2>
                        <p class="paragraph-2th--dark-md-hyphens">Drink a glass of water before main meal</p>

                        <div class="mt-5">
                            <a style="background-color: #05ac05 !important; color: #fff !important; border: none;" href="#" class="btn btn--secondary btn-success">DESIGN HABIT</a>
                        </div>

                    </div>
                    <div class="w-100 m-0 d-flex justify-content-between px-5">
                        <a class="btn">Scale</a>
                        <a class="btn">Edit</a>
                        <a class="btn">Delete</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-7 ">

                <div class="masonry__item ">

                    <div class="item-blog video wow move-up  animate">
                        <div class="item-blog__side">

                            <div class="item-blog__box">

                                <a onclick="" class="item-blog__picture" style="cursor: pointer;">
                                    <img src="{% static 'assets/landing_image.jpg' %}" alt="item">
                                </a>

                                <div class="item-blog__wrap-icon">
                                    <a href="#" class="item-blog__icon">
                                        <i class="material-icons material-icons-outlined">play_circle_outline</i>
                                    </a>
                                </div>
                            </div>

                            <p class="item-blog__paragraph paragraph-2th--dark-md-hyphens">
                                You can select an Aspiration from the list shown when you click the 'LOAD TEMPLATE' button below this will lead you to a list of behaviors to work on
                            </p>
                            <p>
                                <a href="#" style="background-color: #05ac05 !important; color: #fff !important; border: none;" class="btn">
                                    <span class="text-up">LOAD TEMPLATE</span>
                                </a>
                                <a href="#" class="btn btn--secondary">Resources</a>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end flex stuff -->

    <div class="trailer">
        <div class="w-100 h-100 position-relative p-2 d-flex p-sm-5">
            <iframe id="frm" src="{{ trailer }}" allowfullscreen frameborder="0" allowscriptaccess="always"></iframe>
            <i onclick="toggle(); end();" class="position-absolute fa fa-times"></i>
        </div>
    </div>



    