{% extends "main/base_template.html" %}

{% block title %}Make Payment{% endblock %}

{% block body %}
<!-- Start Section Content Main -->
<div class="section-content-main">
    <div class="container">
        <h1>Pay Now</h1>
        <br>
        <br>
        <div class="row">
            <!-- Start Content -->
            <div class="col-lg-12">

                <!-- Start List Product -->
                <div class="row">
                    <!-- Start Product -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 umb--40">
                        <div class="item-product wow move-up animate">

                            <form action="{% url 'payments:ebook_purchase' %}" method="post" class="item-product__side">
                                {% csrf_token %}
                                <h2>Progress Equals Happiness</h2>
                                <br>
                                <a class="item-product__link">
                                    {% load static %}
                                    <img class="item-product__picture"
                                        src="{% static 'main/assets/package_image.jpg' %}" alt="product">
                                </a>
                                <h3 class="item-product__name">
                                    <a class="heading-6th--dark-hi-hover">
                                        Get The E-book
                                    </a>
                                </h3>
                                <div class="item-product__price">
                                    <p class="item-product__price--sale heading-7th--primary-hi">£7.47</p>
                                    </h5>
                                </div>

                                <button class="btn btn--secondary"><span class="text-up">Pay
                                        Now</span></button>
                                <br>
                            </form>

                        </div>
                    </div>
                    <!-- End Product -->

                    <!-- Start Product -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 umb--40">
                        <div class="item-product wow move-up animate">

                            <form action="{% url 'payments:audiobook_purchase' %}" method="post" class="item-product__side">
                                {% csrf_token %}
                                <h2>Progress Equals Happiness</h2>
                                <br>
                                <a class="item-product__link">
                                    {% load static %}
                                    <img class="item-product__picture"
                                        src="{% static 'main/assets/package_image.jpg' %}" alt="product">
                                </a>
                                <h3 class="item-product__name">
                                    <a class="heading-6th--dark-hi-hover">
                                        Get The Audio Book
                                    </a>
                                </h3>
                                <div class="item-product__price">
                                    <p class="item-product__price--sale heading-7th--primary-hi">£7.47</p>
                                    </h5>
                                </div>

                                <button class="btn btn--secondary"><span class="text-up">Pay
                                        Now</span></button>
                                <br>
                            </form>

                        </div>
                    </div>
                    <!-- End Product -->


                    <!-- Start Product -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 umb--40">
                        <div class="item-product wow move-up animate">

                            <form action="{% url 'payments:audiobook_n_ebook_purchase' %}" method="post" class="item-product__side">
                                {% csrf_token %}
                                <h2>Progress Equals Happiness</h2>
                                <br>
                                <a class="item-product__link">
                                    {% load static %}
                                    <img class="item-product__picture"
                                        src="{% static 'main/assets/package_image.jpg' %}" alt="product">
                                </a>
                                <h3 class="item-product__name">
                                    <a class="heading-6th--dark-hi-hover">
                                        E-book + Audio Book
                                    </a>
                                </h3>
                                <div class="item-product__price">
                                    <p class="item-product__price--sale heading-7th--primary-hi">£9.99</p>
                                    </h5>
                                </div>

                                <button class="btn btn--secondary"><span class="text-up">Pay
                                        Now</span></button>
                                <br>
                            </form>

                        </div>
                    </div>
                    <!-- End Product -->

                </div>
                <!-- End List Product -->
            </div>
            <!-- End Content -->
        </div>
    </div>
</div>
<!-- End Section Content Main -->

{% endblock %}
