{% extends "main/base_template.html" %}

{% block title %}Payment Failed{% endblock %}

{% block body %}
  <!-- Start Section Content Main -->
  <div class="section-content-main">
    <div class="container">
      <div class="row">
        
        <!-- Start Content -->
        <div class="col-12">
          <!-- Start Search Results -->
          <div class="row">
            <div class="col-lg-12">
              <div class="page-404__result--title heading-1th--dark-hi">
                <h1>
                Payment Unsuccessful!
              </h1>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="page-404__result--title heading-7th--dark-hi">
                There was an error processing your payment. Why don't you try again.
              </div>
            </div>
          </div>  
          <!-- End Search Results -->
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <!-- End Section Content Main -->
{% endblock %}

{% block scripts %}
{% endblock %}